<!DOCTYPE html>
<html>
	<head>
		<title><%= users.name %></title>
		<link rel="stylesheet" type="text/css" href="text.css">
	</head>
	<body>
		<div id="wrapper">
			<h1>Name: <%= users[0].name %></h1>
			<h2>Age: <%= users[0].age %></h2>
			<button><a href="/">Home</a></button>
		</div>
	</body>
</html>
