<!DOCTYPE html>
<html>
	<head>
		<title>Mongoose</title>
		<link rel="stylesheet" type="text/css" href="text.css">
	</head>
	<body>
		<div id="wrapper">
			<h2>New Mongoose!</h2>
			<form action="/mongooses" method="POST">
				<label>Name: <input type="text" name="name"></label>
				<label>Age: <input type="number" name="age"></label>
				<input type="submit" name="submit" value="Submit">
			</form>
			<button><a href="/">Home</a></button>
		</div>
	</body>
</html>
